<div class="content">
  <div class="mapdiv">
    
    <span class="profile" (click)="navigateProfile()">
      <mat-icon>account_circle</mat-icon>
    </span>
    <div class="matsearchdiv">
      <span class="matsearchspan">
        <input class="mat-input" placeholder="Source" [(ngModel)]="da.source" (click)="toggleSearch()" (ngModelChange)="getsource()"/>
        <mat-icon class="search-icon" (click)="findPath()" >search</mat-icon>
      </span>
      <div *ngIf="sug.length>0 && ss" class="sugg">
        <span *ngFor="let s of sug" class="review-image">
           <div class="suggEl" (click)="changeSource(s)">{{s}}</div>
        </span>
      </div>
      <div *ngIf="isSearch" style="margin-top: 10%;">
      <span>
        <input class="mat-input" placeholder="destination" [(ngModel)]="da.destination" (keydown)="EnterKey($event)" (ngModelChange)="getDest()"/>
      </span>
      <div *ngIf="sug.length>0 && sd" class="sugg">
        <span *ngFor="let s of sug" class="review-image">
           <div class="suggEl"  (click)="changeDest(s)">{{s}}</div>
        </span>
      </div>
      </div>
      <div *ngIf="unit" class="unit">
        {{unit}} Units
        <div style="margin-left: 30%;" (click)="initiateData()"><mat-icon style="color: blue; cursor: pointer;">refresh</mat-icon></div>

      </div>
    </div>
    
   
    <div class="review-cont"  *ngIf="isPanel">
        <span class="close" (click)="togglePanel()">
          <button><mat-icon style="color: red;">close</mat-icon></button>
        </span>
        <div class="review">
          <div class="placeName">{{placeNmae}}</div>
          <div class="album">
            <div *ngIf="reviews && reviews.length > 0" class="photos-heading">Photos</div>
            <div class="image-container">
              <span *ngFor="let review of reviews" class="review-image">
                <img *ngIf="review.imagePath" [src]="review.imagePath" alt="Review Image" class="review-img"
                  (click)="navigateAlbum()">
              </span>
            </div>
          </div>
          <div>
            <div class="reviewbtnare" *ngIf="placeNmae">
              <button class="reviewbtn" (click)="openReviewDialog()">Add review</button>
            </div>
          </div>
          <div *ngIf="avgergereview" style="display: flex; flex-direction: row; align-items: center; text-align: center; margin-left: 17%;">
            Average Rating: <div class="review-rating">
              <div class="star-container">
                <span *ngFor="let _ of getStarArray(avgergereview)" class="star">&#9733;</span> <!-- Star symbol -->
              </div>
            </div>
          </div>
          <div class="reviewborder">
            <div *ngIf="reviews && reviews.length > 0" class="review-heading">Review</div>
            <div *ngFor="let review of reviews" class="review-item">
              <div class="review-email">{{ review.email }}</div>
              <div class="review-details">
                <div class="review-description">{{ review.description }}</div>
                <div class="review-rating">
                  <div class="star-container">
                    <span *ngFor="let _ of getStarArray(review.rating)" class="star">&#9733;</span> <!-- Star symbol -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
    <div class="map">
      <div class="grid"></div>
      <canvas class="overlay-canvas"></canvas>
    </div>
  </div>
</div>