<h2 mat-dialog-title>Add Review</h2>
<mat-dialog-content>
  <form [formGroup]="reviewForm" >
    <mat-form-field  class="description" appearance="fill">
      <mat-label>Name</mat-label>
      <textarea  matInput formControlName="description" placeholder="Name"></textarea>
    </mat-form-field>
    <mat-form-field  class="description" appearance="fill">
        <mat-label>Type Of Shape</mat-label>
        <textarea  matInput formControlName="description" placeholder="Type of shape"></textarea>
    </mat-form-field>
    
    <input type="file" accept="image/png, image/jpeg" />
    <button mat-raised-button type="submit" [disabled]="!reviewForm.valid">Submit</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
